.vs/
SampleWebApplication/.vs/
SampleWebApplication/.vs/WebApplication1/v17/.suo
SampleWebApplication/WebApplication1/bin/Debug/net7.0/WebApplication1.dll
SampleWebApplication/WebApplication1/bin/Debug/net7.0/WebApplication1.pdb
SampleWebApplication/WebApplication1/obj/Debug/net7.0/ref/WebApplication1.dll
SampleWebApplication/WebApplication1/obj/Debug/net7.0/refint/WebApplication1.dll
SampleWebApplication/WebApplication1/obj/Debug/net7.0/WebApplication1.dll
SampleWebApplication/WebApplication1/obj/Debug/net7.0/WebApplication1.pdb
